<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Shop</title>
</head>
<body>
<div>
  <h1 th:text="${welcomeMessage}"></h1>
</div>
<div>
  <form th:method="post" th:action="@{http://localhost:8080/shop.com/addToCart}" th:object="${item}">
    <label>
      <select th:field="*{id}">
        <option th:each="item : ${items}"
                th:value="${item.getId()}"
                th:text="${item.getTitle() + item.getPrice()}">
        </option>
      </select>
    </label>
    <br>
    <button type="submit">Enter</button>
    <button type="submit" formaction="http://localhost:8080/shop.com/order">Order</button>
  </form>
  <hr/>
  <form th:method="post" th:action="@{http://localhost:8080/shop.com/logout}">
    <button type="submit">Logout</button>
  </form>
</div>
</body>
</html>